<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%=title%></title>
        <link rel="stylesheet" href="/headerStyles.css">
        <link rel="stylesheet" href="/formStyles.css">
    </head>
    <body>
        <%- include('./partials/header.ejs') %>
        <main>
            <h1 class="login title"><%=title%></h1>
            <form action="/login" method="post" class="login form">
                <label for="username" class="form label">Username:</label>
                <input type="text" id="username" name="username" maxlength="20" class="form input" required>
                <label for="password" class="form label">Password:</label>
                <input type="password" id="password" name="password" maxlength="15" class="form input" required>
                <button type="submit" class="form bttn">Log In</button>
            </form>
            <%- include('./partials/errors.ejs') %>
        </main>
    </body>
</html>