main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > .title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

form {
    width: 500px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 30px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 5px;
}

.form.label,
.form.input,
.form.bttn {
    font-size: 1.2rem;
}

.form.label {
    font-weight: bold;
}

.form.bttn {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
    opacity: 1;
    justify-self: center;
}

.form.bttn:hover {
    opacity: .8;
}